.wrapper {
  
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typing-demo {
  width: 80%; /* Par exemple, définissez la largeur à 80% de l'écran disponible */
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 15px;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
.container-header
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    
}
#cont img{
    height: 400px;
}
#cont-div p{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#cont-div{
  
  width: 500px;
}

#svgr{
    display: flex;
    justify-content: space-around;
    animation: fadeInWithDelay 0.2s ease-in-out 0.5s both;
}
#cont{
  animation: fadeInWithDelay 0.3s ease-in-out 1.5s both;
}

.bi-linkedin path {
    fill: rgb(4, 4, 179); 
  }
 .bi-github{
    fill: rgb(0, 0, 0); 
 }

 .bi-twitter{
    fill: rgb(34, 38, 235); 
 }

 .bi-envelope-at-fill{
    fill: rgb(240, 49, 49); 
 }

 @keyframes fadeInWithDelay {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


