<div class="cont-foot">
    <div id="dv1">
        <p>Je suis un développeur web et mobile
             passionné par la création d'applications et de sites web exceptionnels. 
             Avec mon expertise en développement web et mobile, je suis en mesure de concevoir 
             et de réaliser des expériences numériques convaincantes pour diverses plateformes. 
             Je maîtrise les langages de programmation tels que HTML, CSS et JavaScript, ainsi 
             que les frameworks populaires tels que Angular  pour le développement web. 
             En ce qui concerne le développement mobile, j'ai une solide expérience avec les technologies 
             telle que  Flutter, qui me permette de créer des applications mobiles natives 
             pour iOS et Android. Je suis constamment à l'affût des dernières tendances et technologies dans 
             le domaine du développement web et mobile, afin de fournir des solutions innovantes et performantes 
             à mes clients. Si vous recherchez un développeur web et mobile compétent et créatif, n'hésitez pas à 
             me contacter. 
            Je serais ravi de discuter de vos projets et de contribuer à leur réussite avec mes compétences
             en développement.</p>
    </div>
    <div *ngIf="screenWidth >= 968">
     <img src="assets/img/img.png">
    </div>
</div>
