.cont-rea{
    display: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
    animation: fadeInWithDelay 0.5s ease-in-out 0.5s both;
    
}
svg{
   margin-right: 10px;
   
}
h3{
    font-size: 18px;
    margin-left: 45px;
}

#h1tt{
  animation: fadeInWithDelay 0.5s ease-in-out 0.5s both;
}


@keyframes fadeInWithDelay {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



    
     